<h1 id="faq">FAQ</h1>
<hr class="style">

<section class="faq-content lead">
  <p>This is a short list of our most frequently asked questions.</p>
  <p>For more information about Y.S.I.S, or if you need support, please email to our <a class="fancy-link" href="mailto:ysisapp@gmail.com" target="_blank">support</a>.</p>
  <br>

  <h3>What is Y.S.I.S?</h3>
  <p>Y.S.I.S is nothing more than a place for you to share with others how sucks some websites are.</p>
  <br>

  <h3>Where does the name come from?</h3>
  <p>Y.S.I.S is acronym for Your Site Is Sucks, but really the last 'S' can be 'Slow' or 'Shit'.</p>
  <br>

  <h3>How did the idea come about?</h3>
  <p>We use website or web application alots nowadays but sometimes dealing with poorly designed website can be really frustrating, and this is why Y.S.I.S come to existence. We created Y.S.I.S to solve one simple problems, to complain.</p>
  <br>

  <h3>What other features are you implementing?</h3>
  <p>Currently, you can only submit your complain and view others complain. Going forward, we plan on supporting additional services like keyword searching, up voting, share on social medias, webmaster notification, etc.</p>
  <br>

  <h3>Do you need help?</h3>
  <p>Absolutely, yes. If you're coder/designer/copyrighter, we need your help. Check out our <a class="fancy-link" href="http://github.com/yoursiteissucks/yoursiteissucks.github.io" target="_blank">Github page</a>.</p>
  <br>

  <h3>I have a technical problem or support issue I need resolved, who do I email?</h3>
  <p>The best way to get in touch with us is drop us an <a class="fancy-link" href="mailto:ysisapp@gmail.come" target="_blank">email</a>.</p>
  <br>

  <h3>Why I couldn't find my previous post on the BROWSE page?</h3>
  <p>We check databse regularly and sometimes we will delete spams. However, if you think this is error, please <a class="fancy-link" href="mailto:ysisapp@gmail.com" target="_blank">contact us</a>.</p>
  <br>

  <h3>Who can see my complain?</h3>
  <p>All reviews are public by default which means they are visible to anyone using Y.S.I.S. However, the complain process is completely anonymous, which mean you don't have to sign up or put any of your information in order to use it.</p>
  <br>

  <h3>When are you going to make the app for mobile device?</h3>
  <p>We are currently working on making the web experiences on browser as solid as possible. Only then will we consider other platforms, but currently we have nothing to announce. Nevertheless, Y.S.I.S is working well on mobile browser too.</p>
  <br>
</section>
