<h5 class="lead">Hey <span style="border-bottom: 1px solid white" ng-show="addForm.websiteInput.$dirty">{{review.websiteInput}}</span></h5>
<h2 class="cover-heading">YOUR SITE IS <span id="brandChange">SUCKS</span>.</h2>
<h2 class="lead">And here is why <span class="blinking-cursor" ng-click="focus()">| &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>.</h2>
<form ng-submit='add()' name="addForm" novalidate>
  <div class="form-group">
    <textarea type="text" rows="3" name="complainInput" ng-model="review.complainInput" placeholder=" What's sucks?" autocomplete="off" ng-maxlength="300" maxlength="300" minlength="10" required ng-class='{ "has-error": addForm.complainInput.$invalid && (addForm.$submitted || addForm.complainInput.$touched) }' ng-focus='addForm.complainInput.hasFocus=true' ng-blur='addForm.complainInput.hasFocus=false'></textarea>
    <p ng-show="addForm.complainInput.$dirty && addForm.complainInput.hasFocus">{{300 - addForm.complainInput.$viewValue.length}} chars remaining</p>
    <p ng-show="addForm.complainInput.$error.required && (addForm.complainInput.$touched || submitted)"  class="error-block">Your complain is required!</p>
    <p ng-show="addForm.complainInput.$error.minlength && (addForm.complainInput.$touched || submitted)"  class="error-block">Minimum 10 chars. Complain more!</p>
  </div>

  <div class="form-group">
    <input type="url" name="websiteInput" ng-model="review.websiteInput" placeholder=" http://sucks.com" autocomplete="off" required ng-focus="setCursor()" id="websiteInput" ng-class='{ "has-error": addForm.websiteInput.$invalid && (addForm.$submitted || addForm.websiteInput.$touched) }'>
    <p ng-show="addForm.websiteInput.$error.required && (addForm.websiteInput.$touched || submitted)"  class="error-block">Web address is required!</p>
    <p ng-show="addForm.websiteInput.$invalid && (addForm.websiteInput.$touched || submitted)"  class="error-block">URL with <i>http://</i> prefix is required!</p>
  </div>
    <button class="btn btn-lg btn-awesome btn-outline" ng-disabled="addForm.$invalid" type="submit">Tell Everybody &#187;</button>
</form>

<div class="">

</div>

<div class="mastfoot">
  <div class="inner">
    <p class="pull-right">
      <a href="http://twitter.com/intent/tweet?status=Your Site Is Sucks!+http://yoursiteissucks.github.io/ via @ysis_app" target="_blank">
        <i class="fa fa-twitter"></i>
      </a> &nbsp;
      <a href="http://www.facebook.com/sharer/sharer.php?u=http://yoursiteissucks.github.io&title=Your Site Is SUCKS!" target="_blank">
        <i class="fa fa-facebook"></i>
      </a> &nbsp;
      <a href="https://plus.google.com/share?url=http://yoursiteissucks.github.io" target="_blank">
        <i class="fa fa-google-plus"></i>
      </a> &nbsp;
      <a href="http://www.tumblr.com/share?v=3&u=http://yoursiteissucks.github.io&t=Your Site Is Sucks!" target="_blank">
        <i class="fa fa-tumblr"></i>
      </a> &nbsp;
      <a href="http://www.reddit.com/submit?url=http://yoursiteissucks.github.io&title=Your Site Is Sucks" target="_blank">
        <i class="fa fa-reddit"></i>
      </a> &nbsp;
      <a href="javascript:window.location=%22http://news.ycombinator.com/submitlink?u=%22+encodeURIComponent(document.location)+%22&t=%22+encodeURIComponent(document.title)" target="_blank">
        <i class="fa fa-hacker-news"></i>
      </a> &nbsp;
      Built by <a href="http://twitter.com/nixsiow" target="_blank" class="special_link">@nixsiow</a>
    </p>
  </div>
</div>
