<h1 class="lead">Other people also say</h1>
<input class="search-box" type="text" name="searchReview" placeholder=" Search by keyword ... ↵ " autocomplete="off">

<!-- Custom toArray filter because angular filter doesnt work on Object -->
<div class="card" ng-repeat="review in reviews | findAndToArray:'complainInput' | orderBy: 'reviewDate':true">
  <div class="card-content">
    <h1>{{ review.websiteInput }}</h1>
    <h2 class="lead">{{ review.complainInput }}</h2>
  </div>

  <div class="social-share">
    <li><a href="http://twitter.com/nixsiow" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="http://plus.google.com/+nixsiow" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="http://plus.google.com/+nixsiow" target="_blank"><i class="fa fa-tumblr"></i></a></li>
    <li><a href="mailto:nixsiow@hotmail.com" target="_blank"><i class="fa fa-envelope-o"></i></a></li>

    <div class="card-upvote pull-right">
      <a href="#"><i class="fa fa-chevron-up"> {{ review.upvote }}</i></a>
    </div>
  </div>
</div>

<!-- to Top's button live here -->
<div id="scrollToTop">
  <span>BACK TO TOP</span>
</div>
<!-- mobile version -->
<div id="mobile-scrollToTop" class="">
  <span><i class="fa fa-angle-up"></i> Back To Top <i class="fa fa-angle-up"></i></span>
</div>
