<div class="wrapper">
  <div class="form-wrapper">
    <form ng-submit='signup()' name="signupForm" novalidate>
      <h2 class="lead"><b>Sign up</b> &nbsp; &nbsp; &#215; &nbsp; &nbsp; <a href="#/signin">Sign in</a></h2>
      <!-- Username -->
      <div class="form-group"
      ng-class='{ "has-focus": signupForm.username.hasFocus,
      "has-success": signupForm.username.$valid,
      "has-error": signupForm.username.$invalid && (signupForm.$submitted || signupForm.username.$touched),
      "is-empty": !signupForm.username.$viewValue }'>
        <input type="text" name="username" ng-model="username" placeholder=" Username" autocomplete="off" required
        ng-focus='signupForm.username.hasFocus=true', ng-blur='signupForm.username.hasFocus=false' autofocus>
        <p ng-show="signupForm.username.$error.required && (signupForm.username.$touched || submitted)"  class="error-block">Username is required!</p>
      </div>
      <br>

      <!-- Email -->
      <div class="form-group"
      ng-class='{ "has-focus": signupForm.email.hasFocus,
      "has-success": signupForm.email.$valid,
      "has-error": signupForm.email.$invalid && (signupForm.$submitted || signupForm.email.$touched),
      "is-empty": !signupForm.email.$viewValue }'>
        <input type="email" name="email" ng-model="email" placeholder=" example@example.com" autocomplete="off" required
        ng-focus='signupForm.email.hasFocus=true', ng-blur='signupForm.email.hasFocus=false'>
        <p ng-show="signupForm.email.$error.required && (signupForm.email.$touched || submitted)"  class="error-block">Your email is required!</p>
        <p ng-show="signupForm.email.$error.email && (signupForm.email.$touched || submitted)"  class="error-block">Valid email is required!</p>
      </div>
      <br>

      <!-- Password -->
      <div class="form-group"
      ng-class='{ "has-focus": signupForm.password.hasFocus,
      "has-success": signupForm.password.$valid,
      "has-error": signupForm.password.$invalid && (signupForm.$submitted || signupForm.password.$touched),
      "is-empty": !signupForm.password.$viewValue }'>
        <input type="password" name="password" ng-model="password" placeholder=" Password" required
        ng-focus='signupForm.password.hasFocus=true', ng-blur='signupForm.password.hasFocus=false'>
        <p ng-show="signupForm.password.$error.required && (signupForm.password.$touched || submitted)"  class="error-block">Password is required!</p>
      </div>
      <br>

      <!-- Password validation -->
      <div class="form-group"
      ng-class='{ "has-focus": signupForm.confirmPassword.hasFocus,
      "has-success": signupForm.confirmPassword.$valid,
      "has-error": signupForm.confirmPassword.$invalid && (signupForm.$submitted || signupForm.confirmPassword.$touched),
      "is-empty": !signupForm.confirmPassword.$viewValue }'>
        <input type="password" name="confirmPassword" ng-model="confirmPassword" placeholder=" Confirm Password" required
        ng-focus='signupForm.confirmPassword.hasFocus=true', ng-blur='signupForm.confirmPassword.hasFocus=false' repeat-password="password">
        <!-- <p ng-show="signupForm.confirmPassword.$error.required && (signupForm.confirmPassword.$touched || submitted)"  class="error-block">You must confirm password!</p> -->
        <div ng-if="signupForm.confirmPassword.$dirty"
             ng-messages="signupForm.confirmPassword.$error">
          <p class="error-block" ng-message="repeat">Passwords do not match.</p>
        </div>
      </div>
      <!-- <br> -->

      <button class="btn btn-lg btn-awesome" ng-disabled="signupForm.$invalid" type="submit">Sign up &#187;</button>
    </form>
  </div>
</div>
